/* Space out content a bit */
body {
    padding: 20px;
}
.header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
.footer {
    padding-top: 10px;
    margin-top: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.mycontainer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.label-as-badge {
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #e5e5e5;
}

.yearslider {
    width: 200px;
}

.alphasliderdiv {
    float: right;
    width: 280px;
}
.alphasliderdiv > div {
    display: inline-block;
}
.alphasliderdiv #alphaslider {
    width: 160px;
}

.slider-text {
    padding-top: 5px;
}

/*#regionselector {
    margin-left: 5px;
}*/

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#spinner i {
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 1px gray;
}
.invisible {
    visibility: hidden;
}

#conflist td {
    vertical-align: middle !important;
}
#conflist td.invisible {
    display: none;
}

.table-fixed thead tr {
  width: 100%;
  height: 35px;
  display: block;
}
.table-fixed tbody {
  height: 450px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed tbody {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


.tooltiplabel {
    /*color: black;*/
    font-weight: bold;
    font-style: oblique;
}
.tooltip-inner {
    width: 350px;
}

table {
    font-size: 14px;
}
td.index {
    font-weight: bold;
}
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
