{% load staticfiles %}
<html>
  {% include 'header.html'%}

  <body>
    <div class="content">
      <form role="form" action="." method="get" style="display: inline">
        <div class="row" style="width:500px">
          <div class="col-sm-11" style="padding:1px">
            <table>
              <tr>
                <td colspan=3>
                  <select class="form-control select" name="venue">
                    {% for d in datalist %}
                      <option value="{{ d }}" {% if d == sfile %} selected {% endif %}>{{ d }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td style="width:240px">
                  <input type="text" class="form-control" name="center" {% if scenter %} value="{{scenter}}" {% endif %} placeholder="Institution of interest" />
                </td>
                <td>
                  <select class="form-control select" name="type">
                    {% for t in typelist %}
                      <option value="{{ t }}" {% if t == stype %} selected {% endif %}>{{ t }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select class="form-control select" name="topnum">
                    {% for n in numlist %}
                      <option value="{{ n }}" {% if n == stopnum %} selected {% endif %}>{{ n }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-1" style="padding:1px">
            <button class="btn btn-primary btn-form" style="height:68px" type="submit" name="draw" value="draw">Draw</button>
          </div>
        </div>
      </form>
      {{ error }}
      <div>
        <svg width="1200" height="1000"></svg>
      </div>
    </div>
  </body>
</html>
<script src="{% static 'js/d3v4.js' %}"></script>
<script src="{% static 'js/cola.min.js' %}"></script>
{% if datafile %}
<script>
var width = 1200,
    height = 760;

var color = d3.scaleOrdinal(d3.schemeCategory20);

var cola = cola.d3adaptor(d3)
    .size([width, height]);

var svg = d3.select("svg")
    .attr("width", width)
    .attr("height", height);

var numnodes = parseInt("{{ stopnum }}");

d3.json("{% static datafile %}", function (error, graph) {
    cola
        .nodes(graph.nodes)
        .links(graph.links)
        .linkDistance(5000/Math.sqrt(numnodes+80))
        .avoidOverlaps(true)
        .start(30);

    var link = svg.selectAll(".link")
        .data(graph.links)
      .enter().append("line")
        .attr("class", "link")
        .style("stroke-width", function (d) { return d.value; });

    var node = svg.selectAll(".node")
        .data(graph.nodes)
      .enter().append("circle")
        .attr("class", "node")
        .attr("r", function (d) { return Math.sqrt(d.degree); })
        .style("fill", function (d) { if (d.group == 0) return "#FF0000"; else return color(d.group); })
        .call(cola.drag);

    var label = svg.selectAll(".label")
        .data(graph.nodes)
       .enter().append("text")
        .attr("class", "label")
        .text(function (d) { return d.name; })
        .call(cola.drag);

    node.append("title")
        .text(function (d) { return d.name; });

    cola.on("tick", function () {
        link.attr("x1", function (d) { return d.source.x; })
            .attr("y1", function (d) { return d.source.y; })
            .attr("x2", function (d) { return d.target.x; })
            .attr("y2", function (d) { return d.target.y; });

        node.attr("cx", function (d) { return d.x; })
            .attr("cy", function (d) { return d.y; });

        label.attr("x", function (d) {
                var w = this.getBBox().width;
                return d.x - w/2; })
             .attr("y", function (d) {
                var h = this.getBBox().height;
                return d.y + h/4;
             });
    });
});

</script>
{% endif %}
