{% load staticfiles %}

<html>
  {% include 'header.html' with words=words %}
  <body>
    <div class="mycontainer">
      <div class="header clearfix">
        <!-- <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="/admin">Admin</a></li>
          </ul>
        </nav> -->
        <h3 class="text-muted">{{ words.title }}</h3>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="well well-md">
            <button type="button" id=collapse-button class="btn btn-xs btn-defult pull-right" data-toggle="collapse" data-target="#pageintro">
              <i class="fa fa-minus"></i>
            </button>
            <div>
              <p>This web page computes institutional publication metrics for computer science configured by users.
                These metrics are principally focused on institutions, as opposed to faculty or authors,
                and for use in assessing both the past and predicting future research impact based on publications.
                The data and scripts are available <a href="https://github.com/shinminjeong/rankings">here</a>.
                We welcome <a href="">corrections</a> and <a href="">feedback</a>. See more on <a href="">motivation and methodology</a>.</p>
            </div>
            <div id="pageintro" class="collapse in">
              <p><b>Introduction to the data and tool</b></p>
              <p>We cleaned publication, venue, and institution data from DBLP and Microsoft Academic for 2007 to 2016
                appearing in 200-FIXME venues from 400-FIXME institutions. We assign each paper in this corpus a value one and
                divide credit equally among all authors and their institutions at time of publication. A publication never changes institutions and
                all authors (graduate students, post docs, faculty, undergraduates, etc.) accrue credit to their institution.</p>
              <p>Users combine a retrospective and a prospective metric --- <b>measured</b> (retrospective) and <b>prediction</b> (prospective)
                --- to compute an institutional measure. The measured metric uses <b>citation counts</b> and includes all citations at anytime
                to papers published in the specified year range. The <b>prediction</b> metric counts papers in an independently specified year range
                and weighs them by venue. We suggest a disjoint range for the two metrics and that prediction only be used on recent publications
                that have not had sufficient time to accrue citations (e.g., 2014-2016).</p>
              <p>Users select all topics or individual topics to determine venues and may exclude/include individual venues to create custom
                venue lists. Users select year ranges for each metric and a venue weight. A venue weight of one values all venues equally.
                The geometric mean  venue weight assigns each venue the geometric mean of citations to papers appearing in the venue from 2007—2016,
                thus more highly cited venues weigh more. (Venue weight is displayed next to selected venues.)
                Since the metrics are not comparable, the combined metric uses geometric mean,
                where the user assigns a relative weight (alpha) to the citation and predictive metrics.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          {% include 'wordcloud.html' with words=words tags=tags %}
        </div>
        <div class="col-lg-7">
          {% include 'rtable.html' with words=words %}
        </div>
      </div>

      <footer class="footer">
        <p>
          <a href="http://cm.cecs.anu.edu.au">ANU Computational Media Lab.</a>
        </p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
$("#collapse-button").on("click", function() {
  var $this = $(this);
  if(!$this.hasClass('panel-collapsed')) {
    $this.addClass('panel-collapsed');
    $this.find('i').removeClass('fa-minus').addClass('fa-plus');
  } else {
    $this.removeClass('panel-collapsed');
    $this.find('i').removeClass('fa-plus').addClass('fa-minus');
  }
});
</script>
