{% load staticfiles %}

<html>
  {% include 'header.html'%}
  <body>
    <div class="mycontainer">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="/admin">Admin</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">CS Ranking System</h3>
      </div>

      <div class="row">
        <div class="col-lg-5">
          {% include 'wordcloud.html' with tags=tags conf=conf %}
        </div>

        <div class="col-lg-7">
          {% include 'rtable.html' with data=data %}
        </div>
      </div>

      <footer class="footer">
        <p>
          <a href="http://cm.cecs.anu.edu.au">ANU Computational Media Lab.</a>
        </p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
