{% load staticfiles %}

<html>
  {% include 'header.html' with words=words %}
  <body>
    <div class="mycontainer">
      <!-- <div class="header clearfix"> -->
        <!-- <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
            <li role="presentation"><a href="/admin">Admin</a></li>
          </ul>
        </nav> -->
        <h3>{{ words.title }}</h3>
      <!-- </div> -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="well well-md">
            <p>
		Prospective students, parents, faculty, and University administrators use rankings to make
		decisions. This tool seeks to inform the process by creating better quantitative metrics on
		publications. These metrics are intrinsically <b> <a href="https://github.com/csmetrics/csmetrics.org/blob/master/docs/Overview.md#limitations">
		incomplete</a></b> because they should be combined with qualitative
		expert opinion and other metrics, such as area  citation practices, faculty  size, awards,
		student graduation rates, and PhD placement. It is a work in progress.
            </p>
            <p>
		To start, you must select a <b>year</b> range, discipline <b>category</b>(s), <b>venue
		weight</b>ings, and <b>venue list</b>, and then
  <b>press ‘Go’</b>. Each time you make a new selection, you must press
  ‘Go’ again to update the institutional metrics. See
  our <b> <a
                href="https://github.com/csmetrics/csmetrics.org#quickstart">quick start guide</a></b> for more
		on how to use the tool. </p>
            
            <span id="pageintro" class="collapse">
	    
              <p>Please fill out this <b><a href="https://www.surveymonkey.com/r/csmetrics">short
  survey</a></b> to tell us if the tool
  is useful, how you are using this information, and to influence the future of this tool.  We welcome <a
   href="https://github.com/csmetrics/csmetrics.org">corrections</a>
  to the data and scripts, and <a
   href="https://github.com/csmetrics/csmetrics.org/issues">feature
  suggestions</a> via github pull requests and issues. See <b> <a
   href="./overview"> motivation and methodology</a></b> for more
  details on our motivation and how we cleaned the data and   <a
   href="./acks">acknowledgements and contributors</a> for sponsors and contributors. </p>

	    <p><b>Introduction to the metrics and data. </b>

   		This web page computes user-configured institutional publication metrics for computer science.
                These metrics are principally focused on institutions, as opposed to faculty or authors,
                and are for use in assessing both the past and predicting
                future research impact of publications.
	       We cleaned publication, venue, and institution data from
                <a href="http://dblp.uni-trier.de">DBLP</a> and  <a
                href="https://academic.microsoft.com/"> Microsoft
                Academic Search</a> for 2007 to 2016
                appearing in 210 venues from 199 institutions. For each paper in this corpus, we divide credit equally
                among all authors and their institutions at time of publication. A publication never changes institutions and
                all authors (graduate students, post docs, faculty, undergraduates, etc.) accrue credit to their institution.</p>

	      <p> Users combine a <b>measured</b> (retrospective) and
                <b>predictive</b> (prospective) metric to compute an
                institutional measure. Users first select year ranges
                for each metric and a venue weight. We suggest a
                disjoint year range for the two metrics and that
                prediction only be used on recent publications that
                have not had sufficient time to accrue citations
                (e.g., 2014-2016).  Users select categories to
                determine venues and may select individual venues to
                create custom venue lists. The measured metric uses
                <b>citation counts</b> and includes all citations at
                any time to papers published in the specified year
                range. The <b>predictive</b> metric counts papers in
                an independently specified year range and weighs them
                by venue.  Selecting 'Equal' assigns all venues
                equal weight (one).  Selecting the geometric mean
                assigns each venue the geometric mean of citations to
                papers appearing in the venue from 2007-2016, thus
                more highly cited venues weigh more.  (Venue weight is
                displayed next to selected venues.)  Since the metrics
                are not comparable, the combined metric uses geometric
                mean, where the user assigns a relative weight (alpha)
                to the measured and predictive metrics.  </p>


Please see the              <b><a
                href="https://github.com/csmetrics/csmetrics.org#quickstart">quick
                start guide</a></b> for more help.</p>
            </span>
            <button type="button" id=collapse-button class="btn btn-sm btn-defult pull-right" data-toggle="collapse" data-target="#pageintro">
              more
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6" style="border-right: 1px solid #e5e5e5">
          {% include 'wordcloud.html' with words=words tags=tags %}
        </div>
        <div class="col-lg-6 col-md-6">
          {% include 'rtable.html' with words=words %}
        </div>
      </div>

      <footer class="footer">
        <p>
          <a href="csmetrics.org/overview/#contributors">CS metrics team</a>
        </p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('#selectall').click();
    //setTimeout(function(){ dorank(); }, 1000);
    updateTable();
});
$("#collapse-button").on("click", function() {
  var $this = $(this);
  if(!$this.hasClass('in')) {
    $this.addClass('in');
    $this.html("less");
  } else {
    $this.removeClass('in');
    $this.html("more");
  }
});
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//csmetrics.innocraft.cloud/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
