{% load staticfiles%}
<div class="well well-sm">
  <div class="row">
    <div class="col-sm-5">
      <div>{{ words.forward }}: <span id="rank-pub-range"></span></div>
      <div>{{ words.backward }}: <span id="rank-cit-range"></span></div>
    </div>
    <div class="col-sm-5">
      <div>
        {{ words.ctable_label_2 }}:
        <select id="weightselector">
          <option value="geomean">{{ words.select_weight_option_geo }}</option>
          <option value="equal">{{ words.select_weight_option_equal }}</option>
        </select>
      </div>
      <div class="text-left"><small id="weightselector-text" class="text-muted"></small></div>
    </div>
    <div class="col-sm-2">
      <div id="spinner" class="invisible">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
      <button class="btn btn-success" style="width:100%;" id="rankbutton">{{ words.rank_button }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="rank-conflist" style="max-height: 110px; overflow-y: auto; overflow-x: hidden;"></div>
    </div>
  </div>
</div>
<table id="rtable" class="row-border hover order-column" cellspacing="0" width="100%">
</table>
<script type="text/javascript">
// venue weight selector description
var weighttext = document.getElementById('weightselector-text');
weighttext.innerHTML = "{{ words.rtable_label_3 }} = "
  +"&Sigma; Paper Count x {{ words.ctable_label_2 }}";

// venue weight selector
var weightselector = document.getElementById('weightselector');
weightselector.addEventListener("change", function(e) {
  console.log(weightselector.value);
  var rows = document.getElementById("conflist-body").getElementsByTagName("tr");
  for (var i = 0; i < rows.length; i++) {
    var col = rows[i].children
    if (weightselector.value == "equal") {
      col[4].classList.add("invisible");
      col[3].classList.remove("invisible");
    } else {
      col[3].classList.add("invisible");
      col[4].classList.remove("invisible");
    }
  }
});

var spinner = document.getElementById("spinner");
// ranking table
var table = $('#rtable').DataTable({
  "dom":  "<'row'<'col-sm-6'l><'col-sm-6'<'alphasliderdiv'>>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-4'i><'col-sm-8'p>>",
  "pageLength": 20, // default page
  "lengthMenu": [ 10, 20, 50, 100 ], // page options
  "lengthChange": true,
  "columns": [
    // { className: "details-control" },
    { title: "{{ words.rtable_label_0 }}", className: "index dt-body-center" },
    { title: "{{ words.rtable_label_1 }}", className: "institution dt-body-left" },
    { title: "{{ words.rtable_label_2 }}", className: "dt-body-right" },
    { title: "{{ words.rtable_label_3 }}", className: "dt-body-right" },
    { title: "{{ words.rtable_label_4 }}", className: "dt-body-right" },
    { title: "type", className: "inst-type" },
  ],
  "columnDefs": [
    {
      "targets": [0, 1],
      "sortable": false,
      "orderable": false
    },
    {
      "targets": 1,
      "searchable": true
    },
    {
      "targets": 5,
      "visible": false
    }
  ],
  "fixedColumns": true,
  "paging": true,
  "pagingType": "simple_numbers",
  "searching": true,
  "ordering": true,
  "order": [[ 4, "desc" ]],
  "info": true,
  "autoWidth": false,
});

// alpha slider
$("div.alphasliderdiv").html(
  '<table><tr><td style="padding-right: 10px"><span class="label-as-badge">'+
  '&alpha; = <span class="text-primary" id="alphaValue">{{ words.default_alpha }}'+
  '</span></span></td>'+
  '<td>0.0</td>'+
  '<td style="padding: 0 5px"><div id="alphaslider"></div></td>'+
  '<td>1.0</td></tr>'+
  '<tr><td colspan="4"><div class="text-center slider-text">'+
  '<small id="alphaslider-text" class="text-muted"></small></div></td><tr></table>'
);
var alphaSlider = document.getElementById('alphaslider');
noUiSlider.create(alphaSlider, {
  start: parseFloat("{{ words.default_alpha }}"),
	step: 0.1,
  // tooltips: [wNumb({ decimals: 1 })],
	range: {
		min: 0.0,
		max: 1.0
	}
});
var alphaSliderHandle = alphaSlider.getElementsByClassName('noUi-handle-lower')[0];
alphaSliderHandle.classList.add("noUi-handle-primary");
alphaSlider.noUiSlider.on('change', function (values) {
  changeValue(values);
});

// update rank index
table.on( 'order.dt search.dt', function () {
  table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
    cell.innerHTML = i+1;
  } );
} ).draw();

// append selector at institution header
table.columns('.institution').every( function () {
  var that = this;
  var select = $('<select id="regionselector"/>')
    .appendTo(this.header())
    .on( 'change', function () {
      var val = $(this).val();
      console.log(val);
      if (val == "cra_all") {
        table.columns('.inst-type').search('1|2', true, true).draw();
      } else if (val == "cra_academic") {
        table.columns('.inst-type').search(2).draw();
      } else {
        table.columns('.inst-type').search('').draw();
      }
    });
  // select.append('<option value="all">{{ words.select_region_all }}</option>');
  select.append('<option value="cra_all">{{ words.select_region_cra_all }}</option>');
  select.append('<option value="cra_academic">{{ words.select_region_cra_academic }}</option>');
});


// rank button listener
function dorank() {
  spinner.classList.remove("invisible");
  var selectedVenue = document.getElementsByClassName("rank-venue");
  venuelist = [];
  for (var i = 0; i < selectedVenue.length; i++) {
    venuelist.push(selectedVenue[i].innerText);
  }
  $.ajax({
    type: "POST",
    url: "/update",
    data: {
      pub_syear: nodes[0].innerHTML,
      pub_eyear: nodes[1].innerHTML,
      cit_syear: nodes[2].innerHTML,
      cit_eyear: nodes[3].innerHTML,
      weight: weightselector.value,
      conflist: venuelist.join()
    },
    success: function (result) {
      // console.log("Rank success");
      table.clear();
      for(var i in result) {
        // console.log(result[i]);
        // result[0]: institution name
        // result[1]: paper count
        // result[2]: w. paper count
        // result[3]: citation count
        // result[4]: w. citation count
        // result[5]: institution type
        if (result[i][5] > 0) { // only consider CRA members for now
          var newRow = {};
          newRow[0] = null;
          newRow[1] = result[i][0];
          newRow[2] = result[i][3].toFixed(0); // Measured
          newRow[3] = result[i][2].toFixed(0); // Estimated
          newRow[4] = 0 // Combined -- will be calculated later
          newRow[5] = result[i][5];
          table.row.add(newRow);
        }
      }
      updateTable();
      spinner.classList.add("invisible");
    }
  });
};
$('#rankbutton').click(function(e) {
  dorank();
});



// update combined value using alpha
function updateTable(){
  // console.log("updateTable");
  var alpha = parseFloat(document.getElementById("alphaValue").innerText);
  var alphatext = document.getElementById("alphaslider-text");
  alphatext.innerHTML = "{{ words.rtable_label_4 }} = "
    +"({{ words.rtable_label_2 }}+&epsilon;)<sup>"+(1-alpha).toFixed(1)+"</sup> x "
    +"({{ words.rtable_label_3 }}+&epsilon;)<sup>"+alpha.toFixed(1)+"</sup>";
  var epsilon = 0.01;
  table.rows().eq(0).each( function (index) {
    var row = table.row(index);
    var data = row.data();
    combined = Math.pow(parseFloat(data[2])+epsilon, 1-alpha)
              *Math.pow(parseFloat(data[3])+epsilon, alpha);
    data[4] = Number((combined).toFixed(0));
    table.row(index).data(data);
  });
  table.draw();
}
updateInfoYear();

function changeValue(newValue) {
    document.getElementById("alphaValue").innerHTML = parseFloat(newValue).toFixed(1);
    updateTable(newValue);
};


// more option - disabled for now
function format (d) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="font-size:14px; padding-left:50px;">'+
        '<tr>'+
            '<td>More info: </td>'+
            '<td>'+d+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>More info: </td>'+
            '<td>blahblah</td>'+
        '</tr>'+
    '</table>';
}
// more option - disabled for now
$('#rtable tbody').on('click', 'td.details-control', function () {
    var tr = $(this).closest('tr');
    var row = table.row( tr );
    if ( row.child.isShown() ) {
        row.child.hide();
        tr.removeClass('shown');
    } else {
        row.child(format(row.data()[2])).show();
        tr.addClass('shown');
    }
} );


</script>
