{% load static %}
<div class="row" style="padding-bottom:0px">
  <div class="col-sm-8" style="padding-right:0">
    <input style="width:100%;height:26px;" type="text" value="{{ words.url_base }}" id="configuration">
  </div>
  <div class="col-sm-4">
    <button style="width:100%;height:26px;" onclick="copyConfig()">Copy Sharable Link</button>
  </div>
</div>
<table id="rtable" class="row-border hover order-column" cellspacing="0" width="100%">
</table>
<div id="spinner" class="invisible" style="padding: 10px 15px 0 15px">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>
<div id="rtablecurtain" class="invisible"></div>
<script type="text/javascript">
var copyText = document.getElementById("configuration");
function copyConfig() {
  copyText.select();
  /* Copy the text inside the text field */
  document.execCommand("copy");
  alert("Copied current configuration");
}
function generateShareableLink() {
  params = {
    "pub": [nodes[0].innerHTML, nodes[1].innerHTML].join(),
    "cit": [nodes[2].innerHTML, nodes[3].innerHTML].join(),
    "weight": weightselector.value,
    "alpha": document.getElementById("alphaValue").innerHTML,
    "keywords": activeCategory.join(),
    "venues": selectedVenueList.join(),
  };
  type = document.getElementById("inst_type_selector").value;
  region = document.getElementById("inst_region_selector").value;
  country = document.getElementById("inst_country_selector").value;
  if (type != "All") params["type"] = type;
  if (region != "All") params["region"] = region;
  if (country != "") params["country"] = country;
  copyText.value = "{{ words.url_base }}?" + new URLSearchParams(params);
}

var spinner = document.getElementById("spinner");
// ranking table
var ranktable = $('#rtable').DataTable({
  "dom":  "<'row'<'col-sm-12'<'inst_selector_div'>>>"+
          "<'row'<'col-sm-6'l><'col-sm-6'<'alphasliderdiv'>>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-12'p>>",
  "pageLength": 50, // default page
  "lengthMenu": [[ 10, 20, 50, 100, -1 ], [ 10, 20, 50, 100, "All" ]], // page options
  "lengthChange": true,
  "columns": [
    // { className: "details-control" },
    { title: "{{ words.rtable_label_0 }}", className: "index dt-body-center" },
    { title: "{{ words.rtable_label_1 }}", className: "institution dt-body-left" },
    { title: "{{ words.rtable_label_2 }}", className: "score dt-body-right" },
    { title: "{{ words.rtable_label_3 }}", className: "score dt-body-right" },
    { title: "{{ words.rtable_label_4 }}", className: "score dt-body-right" },
    { title: "Type", className: "inst-type dt-body-left" },
    { title: "Region", className: "inst-continent dt-body-left" },
    { title: "Country", className: "inst-country dt-body-left" },
  ],
  "columnDefs": [
    {
      "targets": [0, 1],
      "sortable": false,
      "orderable": false
    },
    {
      "targets": 1,
      "searchable": true,
    },
    {
      "targets": 6,
      "visible": false,
      "sortable": false,
    },
    {
      "targets": [5,7],
      "visible": true,
      "sortable": false,
    }
  ],
  "language": {
    "emptyTable": "{{ words.msg_empty_table }}"
  },
  "fixedColumns": true,
  "paging": true,
  "pagingType": "first_last_numbers",
  "searching": true,
  "ordering": true,
  "order": [[ 4, "desc" ]],
  "info": true,
  "autoWidth": false,
});

$("div.inst_selector_div").html(
  '<div class="rtable_divider"></div>'+
  '<b>Institution Type</b> <select id="inst_type_selector" class="inst_selector"></select> '+
  '<b>Region</b> <select id="inst_region_selector" class="inst_selector"></select> '+
  '<b>Country</b> <select id="inst_country_selector" class="inst_selector"></select>'+
  '<div class="rtable_divider"></div>'
);

// alpha slider
$("div.alphasliderdiv").html(
  '<table><tr><td style="padding-right: 10px"><span class="label-as-badge">'+
  '&alpha; = <span class="text-primary" id="alphaValue">{{ default.alpha }}'+
  '</span></span></td>'+
  '<td>0.0</td>'+
  '<td style="padding: 0 5px"><div id="alphaslider"></div></td>'+
  '<td>1.0</td></tr>'+
  '<tr><td colspan="4"><div class="text-center slider-text">'+
  '<small id="alphaslider-text" class="text-muted"></small></div></td><tr></table>'
);
var alphaSlider = document.getElementById('alphaslider');
noUiSlider.create(alphaSlider, {
  start: parseFloat("{{ default.alpha }}"),
	step: 0.1,
  // tooltips: [wNumb({ decimals: 1 })],
	range: {
		min: 0.0,
		max: 1.0
	}
});
var alphaSliderHandle = alphaSlider.getElementsByClassName('noUi-handle-lower')[0];
alphaSliderHandle.classList.add("noUi-handle-primary");
alphaSlider.noUiSlider.on('change', function (values) {
  changeValue(values);
});

var instCountrySelector = document.getElementById("inst_country_selector");
instCountrySelector.addEventListener("change", function() {
  // console.log("type_onchange", instRegionSelector.value, instRegionSelector.selectedIndex)
  ranktable.columns('.inst-continent').search('');
  instRegionSelector.value = "All";
  var val = $(this).val();
  if (val == "All") {
    ranktable.columns('.inst-country').search('').draw();
  } else {
    ranktable.columns('.inst-country').search(val).draw();
  }
  generateShareableLink();
});

// update rank index
ranktable.on( 'order.dt', function () {
  ranktable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
    cell.innerHTML = i+1;
  } );

  if (!instCountrySelector.hasChildNodes()){
    ranktable.column(7).data().unique().sort().each( function ( d, j ) {
      var option = document.createElement("option");
      option.text = option.value = d;
      instCountrySelector.appendChild(option);
    });
  }
} ).draw();

var instTypeSelector = document.getElementById("inst_type_selector");
var select_inst_types = {{ words.select_inst_types|safe }};
for (var i = 0; i < select_inst_types.length; i++) {
  var option = document.createElement("option");
  option.text = option.value = select_inst_types[i];
  instTypeSelector.appendChild(option);
}
instTypeSelector.addEventListener("change", function() {
  // console.log("type_onchange", instTypeSelector.value, instTypeSelector.selectedIndex)
  var val = $(this).val();
  if (val == "All") {
    ranktable.columns('.inst-type').search('').draw();
  } else {
    ranktable.columns('.inst-type').search(val).draw();
  }
  generateShareableLink();
});

var instRegionSelector = document.getElementById("inst_region_selector");
var select_inst_regions = {{ words.select_inst_regions|safe }};
for (var i in select_inst_regions) {
  var option = document.createElement("option");
  option.text = option.value = select_inst_regions[i];
  instRegionSelector.appendChild(option);
}
instRegionSelector.addEventListener("change", function() {
  // console.log("type_onchange", instRegionSelector.value, instRegionSelector.selectedIndex)
  ranktable.columns('.inst-country').search('');
  instCountrySelector.value = "";
  var val = $(this).val();
  if (val == "All") {
    ranktable.columns('.inst-continent').search('').draw();
  } else {
    ranktable.columns('.inst-continent').search(val).draw();
  }
  generateShareableLink();
});

// update combined value using alpha
function updateTable(){
  console.log("updateTable");
  var alpha = parseFloat(document.getElementById("alphaValue").innerText);
  var alphatext = document.getElementById("alphaslider-text");
  alphatext.innerHTML = "{{ words.rtable_label_4 }} = "
    +"({{ words.rtable_label_2 }}+&epsilon;)<sup>"+(1-alpha).toFixed(1)+"</sup> x "
    +"({{ words.rtable_label_3 }}+&epsilon;)<sup>"+alpha.toFixed(1)+"</sup>";
  var epsilon = 0.01;
  ranktable.rows().eq(0).each( function (index) {
    var row = ranktable.row(index);
    var data = row.data();
    combined = Math.pow(parseFloat(data[2])+epsilon, 1-alpha)
              *Math.pow(parseFloat(data[3])+epsilon, alpha);
    data[4] = Number((combined).toFixed(0));
    ranktable.row(index).data(data);
  });
  ranktable.draw();
}

function changeValue(newValue) {
    document.getElementById("alphaValue").innerHTML = parseFloat(newValue).toFixed(1);
    updateTable(newValue);
};

function setDefaultFilters() {
  instTypeSelector.value = "{{ default.inst_type }}";
  if (instTypeSelector.value == "All") {
    ranktable.columns('.inst-type').search('').draw();
  } else {
    ranktable.columns('.inst-type').search(instTypeSelector.value).draw();
  }

  instRegionSelector.value = "{{ default.inst_region }}";
  if (instRegionSelector.value == "All") {
    ranktable.columns('.inst-continent').search('').draw();
  } else {
    ranktable.columns('.inst-continent').search(instRegionSelector.value).draw();
  }

  instCountrySelector.value = "{{ default.inst_country }}";
  console.log("instCountrySelector.value", "{{ default.inst_country }}");
  if (instCountrySelector.value == "") {
    ranktable.columns('.inst-country').search('').draw();
  } else {
    ranktable.columns('.inst-continent').search('');
    ranktable.columns('.inst-country').search(instCountrySelector.value).draw();
  }
}

// more option - disabled for now
function format (d) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="font-size:14px; padding-left:50px;">'+
        '<tr>'+
            '<td>More info: </td>'+
            '<td>'+d+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>More info: </td>'+
            '<td>blahblah</td>'+
        '</tr>'+
    '</table>';
}
// more option - disabled for now
$('#rtable tbody').on('click', 'td.details-control', function () {
    var tr = $(this).closest('tr');
    var row = ranktable.row( tr );
    if ( row.child.isShown() ) {
        row.child.hide();
        tr.removeClass('shown');
    } else {
        row.child(format(row.data()[2])).show();
        tr.addClass('shown');
    }
} );

$('#rtable tbody').on( 'click', 'td.inst-type', function () {
    var idx = ranktable.cell( this ).index();
    var title = ranktable.column(idx.column).header().innerText;
    // console.log(title, ranktable.row( this ).data());
    reportError_Type(ranktable.row( this ).data());
} );
$('#rtable tbody').on( 'click', 'td.inst-country', function () {
    var idx = ranktable.cell( this ).index();
    var title = ranktable.column(idx.column).header().innerText;
    // console.log(title, ranktable.row( this ).data());
    reportError_Country(ranktable.row( this ).data());
} );

</script>
