{% load staticfiles%}
<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-2">
    <h4><span class="label label-default">Year</span></h4>
  </div>
  <div class="col-sm-2" style="padding:7px 15px 0 0">
    <div class="text-right">
      <span class="label-as-badge" id="lower-value"></span>
    </div>
  </div>
  <div class="col-sm-6" style="padding:8px">
    <div id="nonlinear"></div>
  </div>
  <div class="col-sm-2" style="padding:7px 0 0 15px">
    <div class="text-left">
		  <span class="label-as-badge" id="upper-value"></span>
    </div>
  </div>
  <script>
  var nonLinearSlider = document.getElementById('nonlinear');
  noUiSlider.create(nonLinearSlider, {
  	connect: true,
  	behaviour: 'tap',
  	start: [ 2000, 2016 ],
    step: 1,
  	range: {
  		'min': [ 2000 ],
  		'max': [ 2016 ]
  	}
  });
  nonLinearSlider.noUiSlider.on('change', function( values, handle ){
    console.log(values[handle]);
  });
  var nodes = [
  	document.getElementById('lower-value'), // 0
  	document.getElementById('upper-value')  // 1
  ];
  nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
  	nodes[handle].innerHTML = parseInt(values[handle]);
  });
  </script>
</div>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-lg-12">
    <h4><span class="label label-default">Category</span></h4>
    <div style="text-align:center;">
      {% for t in tags %}
        <button class="btn btn-sm btn-default" style="margin-bottom:3px;">
          <span class="text-uppercase">{{ t.0 }}</span>
          <!-- <span class="badge">{{ t.1 }}</span> -->
        </button>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div style="max-height: 600px; overflow-x: hidden;">
      <table id="conflist" class="table table-hover">
      </table>
    </div>
  </div>
</div>
<script>
$('.btn').click(function(e) {
  var btn = $(this);
  btn.toggleClass('active');
  if (btn.hasClass('active')){
    btn.removeClass('btn-default');
    btn.addClass('btn-primary');
  } else {
    btn.removeClass('btn-primary');
    btn.addClass('btn-default');
  }
  e.preventDefault();

  var active = [];
  var buttons = document.getElementsByTagName('button');
  for (var i = 0; i < buttons.length; i++) {
    var button = buttons[i];
    if (button.classList.contains('active')) {
      active.push(button.innerText);
    }
  }

  if (active.length == 0) {
    $("#conflist tr").remove();
  } else {
    $.ajax({
      type: "POST",
      url: "/select",
      async: false,
      data: { keyword: active.join() },
      success: function (result) {
        var table = document.getElementById("conflist");
        $("#conflist tr").remove();
        for(var i in result) {
          var row = table.insertRow(i);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          cell1.innerHTML = result[i][0];
          cell2.innerHTML = result[i][1];
        }
      }
    });
  }
});
</script>
