{% load staticfiles%}
<div class="row" style="padding-bottom: 5px;">
  <div class="col-lg-1 col-md-1 col-sm-1">
    <h4><span class="label label-default">{{ words.label_year }}</span></h4>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" >
    <table>
      <tr>
        <td style="width: 80px"></td>
        <td></td>
        <td class="text-center">
          <span class="text-muted"><small>{{ words.slider_desc }}</small></span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td class="text-right" style="width: 80px">
          <span data-toggle="tooltip" class="tooltiplabel"
            title="{{ words.forward_tooltip }}">
            {{ words.forward }}
          </span>
        </td>
        <td style="padding: 5px 15px">
          <div class="text-right">
            <span class="label-as-badge">[<span id="pub-lower-value"></span></span>
          </div>
        </td>
        <td style="padding: 5px 0">
          <div id="publication" class="yearslider"></div>
        </td>
        <td style="padding: 5px 0 0 15px">
          <div class="text-left">
            <span class="label-as-badge"><span id="pub-upper-value"></span>]</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-right" style="width: 80px">
          <span data-toggle="tooltip" class="tooltiplabel text-right"
            title="{{ words.backward_tooltip }}">
            {{ words.backward }}
          </span>
        </td>
        <td style="padding: 5px 15px">
          <div class="text-right">
            <span class="label-as-badge">[<span id="cit-lower-value"></span></span>
          </div>
        </td>
        <td style="padding: 5px 0">
          <div id="citation" class="yearslider"></div>
        </td>
        <td style="padding: 5px 0 0 15px">
          <div class="text-left">
            <span class="label-as-badge"><span id="cit-upper-value"></span>]</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2" style="padding: 10px 15px 0 15px">
    <div id="spinner" class="invisible" style="padding: 10px 15px 0 15px">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <button class="btn btn-success" style="width:100%; height:60px" id="rankbutton">{{ words.rank_button }}</button>
  </div>
</div>
<div class="row" style="padding-bottom: 5px;">
  <div class="col-lg-2 col-md-2 col-sm-2">
    <h4><span class="label label-default">{{ words.label_category }}</span></h4>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10">
    <div style="float:left; padding: 5px 0 0 15px;">
      Select/Deselect All <input id="selectall" type="checkbox" style="margin: 5px 0 0 3px;"></input>
    </div>
  </div>
</div>
<div class="row" style="padding-bottom: 10px;">
  <div class="col-lg-12">
    <div style="text-align:center;">
      {% for t in tags %}
        {% if t.0 %}
          <button class="btn btn-xs btn-default btn-venue" style="margin-bottom:3px;">
            <span class="text-uppercase">{{ t.0 }}</span>
            <!-- <span class="badge">{{ t.1 }}</span> -->
          </button>
        {% else %}
          <button class="btn btn-xs btn-default btn-venue" style="margin-bottom:3px;">
            <span class="text-uppercase">Other</span>
            <!-- <span class="badge">{{ t.1 }}</span> -->
          </button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="row" style="padding-bottom: 5px;">
  <div class="col-sm-3">
    <h4><span class="label label-default">{{ words.label_venueweight }}</span></h4>
  </div>
  <div class="col-sm-7" style="padding: 7px 5px 0 5px; min-width:350px">
    <div>
      <select id="weightselector">
        <option value="geomean">{{ words.select_weight_option_geo }}</option>
        <option value="equal">{{ words.select_weight_option_equal }}</option>
      </select>
      <small id="weightselector-text" class="text-muted" style="padding-left: 15px;"></small>
    </div>
    <div style="margin-top:5px">
      <select id="typeselector">
        <option value="all">All</option>
        <option value="conference">Conference</option>
        <option value="journal">Journal</option>
      </select>
      <small class="text-muted" style="padding-left: 15px;">Select Venue Type</small>
    </div>
  </div>
</div>
<div class="row" style="padding-bottom: 20px;">
  <div class="col-sm-12">
    <table id="conflist" class="table table-condensed table-hover invisible">
      <thead>
        <tr>
          <th class="col-xs-2" colspan="2" style="padding:0 5px 1px 0">
            <h4><span class="label label-default" style="margin:0;">
              {{ words.label_venuelist }}
            </span></h4>
          </th>
          <th class="col-xs-1" style="padding:7px 10px">
            <b>Type</b>
          </th>
          <!-- <th><b>{{ words.ctable_label_0 }}</b></th> -->
          <th class="col-xs-7" style="padding:7px 10px"><b>{{ words.ctable_label_1 }}</b></th>
          <th class="col-xs-2" style="padding:7px 10px">
            <span data-toggle="tooltip" class="tooltiplabel"
              title="{{ words.ctable_label_2_tooltip }}">
              <b>{{ words.ctable_label_2 }}</b>
            </span>
          </th>
        </tr>
      </thead>
      <tbody id="conflist-body">
      </tbody>
    </table>
  </div>
</div>
<script>
var yearrange = [2007, 2016];
var pivotyear = 2014;
var activeCategory = [];
var pubSlider = document.getElementById('publication');
noUiSlider.create(pubSlider, {
  connect: true,
  behaviour: 'tap',
  start: [ pivotyear, yearrange[1] ],
  step: 1,
  animate: false,
  range: {
    'min': [ yearrange[0] ],
    'max': [ yearrange[1] ]
  }
});
var citSlider = document.getElementById('citation');
noUiSlider.create(citSlider, {
  connect: true,
  behaviour: 'tap',
  start: [ yearrange[0], pivotyear-1 ],
  step: 1,
  animate: false,
  range: {
    'min': [ yearrange[0] ],
    'max': [ yearrange[1] ]
  }
});
var pubLowerHandle = pubSlider.getElementsByClassName('noUi-handle-lower')[0];
var citUpperHandle = citSlider.getElementsByClassName('noUi-handle-upper')[0];
var nodes = [
  document.getElementById('pub-lower-value'),
  document.getElementById('pub-upper-value'),
  document.getElementById('cit-lower-value'),
  document.getElementById('cit-upper-value')
];
pubSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
  // console.log("pubSlider slider update");
  nodes[handle].innerText = parseInt(values[handle]);
  inputChanged();
});
citSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
  // console.log("citSlider slider update");
  nodes[handle+2].innerText = parseInt(values[handle]);
  inputChanged();
});

var lockedState = true;
var sliding = false; //
var lastMovedSlider = 0; // 1:pubSlider, 2:citSlider
pubLowerHandle.classList.add("noUi-handle-primary");
citUpperHandle.classList.add("noUi-handle-primary");
function lockHandle(lastMovedSlider){
  if (sliding) {
    sliding = false;
    return;
  }
	lockedState = !lockedState;
  console.log("locked: ", lockedState);
  if (lockedState) {
    pubLowerHandle.classList.add("noUi-handle-primary");
    citUpperHandle.classList.add("noUi-handle-primary");
    if (lastMovedSlider == 1) { // publication slider
      if (parseInt(nodes[0].innerText) == yearrange[0]) {
        pubSlider.noUiSlider.set([yearrange[0]+1, nodes[1].innerText]);
      }
      nodes[3].innerText = parseInt(nodes[0].innerText)-1;
      citSlider.noUiSlider.set([nodes[2].innerText,nodes[3].innerText]);
    } else { // citation slider
      if (parseInt(nodes[3].innerText) == yearrange[1]) {
        citSlider.noUiSlider.set([nodes[2].innerText, yearrange[1]-1]);
      }
      nodes[0].innerText = parseInt(nodes[3].innerText)+1;
      pubSlider.noUiSlider.set([nodes[0].innerText,nodes[1].innerText]);
    }
  } else {
    pubLowerHandle.classList.remove("noUi-handle-primary");
    citUpperHandle.classList.remove("noUi-handle-primary");
  }
}
pubLowerHandle.addEventListener('click', function(){
  lockHandle(1);
});
citUpperHandle.addEventListener('click', function(){
  lockHandle(2);
});

function crossUpdate ( value, slider ) {
  // console.log("crossUpdate");
  // console.log(value, slider);
	if ( !lockedState ) return;
  if ( slider == 1 ) { // citSlider
    nodes[3].innerText = parseInt(value)-1;
    var r = [nodes[2].innerText,nodes[3].innerText];
    citSlider.noUiSlider.set(r);
  } else { // pubSlider
    nodes[0].innerText = parseInt(value)+1;
    var r = [nodes[0].innerText,nodes[1].innerText];
    pubSlider.noUiSlider.set(r);
  }
}

pubSlider.noUiSlider.on('slide', function( values, handle ){
  // console.log("pubSlider slider slide", handle);
  if (handle == 0) {
    if ( lockedState && values[handle] <= yearrange[0] ) {
      pubSlider.noUiSlider.set([yearrange[0]+1, values[1]]);
    }
    sliding = true;
    crossUpdate(values[handle], 1);
  }
});
citSlider.noUiSlider.on('slide', function( values, handle ){
  // console.log("citSlider slider slide", handle);
  if (handle == 1) {
    if ( lockedState && values[handle] >= yearrange[1] ) {
  		citSlider.noUiSlider.set([values[0], yearrange[1]-1]);
    }
    sliding = true;
    crossUpdate(values[handle], 0);
  }
});

function rankFinished() {
    $('#alphaslider').removeAttr('disabled');
    $('#rtablecurtain').addClass('invisible');
}
function inputChanged() {
    $('#alphaslider').attr('disabled', 'disabled');
    $('#rtablecurtain').removeClass('invisible');
}

var selectedVenueList = [];
function updateInfoConf(){
  // console.log("updateInfoConf");
  selectedVenueList = [];
  var rows = document.getElementById("conflist-body").rows;
  for (var i = 0; i < rows.length; i++){
    if (rows.item(i).cells[0].children[0].checked) {
      selectedVenueList.push(rows.item(i).cells[1].innerText);
    }
  }
  inputChanged();
}

function updateConfList(){
  console.log(activeCategory.join());
  if (activeCategory.length > 0) {
    $.ajax({
      type: "POST",
      url: "/select",
      data: {
        keyword: activeCategory.join()
      },
      success: function (result) {
        console.log("success");
        $("#conflist").removeClass("invisible");
        var table = document.getElementById("conflist-body");
        $("#conflist-body tr").remove();
        var idx = 0;
        for(var i in result) {
          if (typeselector.value != "all" && typeselector.value != result[i][3]) {
              continue;
          }

          var row = table.insertRow(idx);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell6 = row.insertCell(2); // type
          var cell3 = row.insertCell(3);
          var cell4 = row.insertCell(4);
          var cell5 = row.insertCell(5);

          cell2.innerHTML = "<b>"+result[i][0]+"</b>";
          cell3.innerHTML = "<small>"+result[i][1]+"</small>";
          cell4.innerHTML = 1;
          cell5.innerHTML = parseFloat(result[i][2]).toFixed(0); // geo mean
          cell6.innerText = result[i][3][0].toUpperCase();
          idx += 1;

          cell1.className = "col-xs-1";
          cell2.className = "col-xs-1";
          cell3.className = "col-xs-7";
          cell4.className = "col-xs-1 center";
          cell5.className = "col-xs-1 center";
          cell6.className = "col-xs-1 center";

          if (weightselector.value == "equal") {
            cell5.classList.add("invisible");
          } else {
            cell4.classList.add("invisible");
          }

          var checkbox = document.createElement('input');
          checkbox.setAttribute("class", "checkbox");
          checkbox.setAttribute("type", "checkbox");
          checkbox.setAttribute("checked", true);
          checkbox.setAttribute("onclick", "updateInfoConf()");
          cell1.appendChild(checkbox);
        }
        console.log("venue table loaded");
        updateInfoConf();
      },
      error: function (result) {
        console.log("error");
      }
    });
  }
}

function getActiveCategories() {
  activeCategory = [];
  var buttons = document.getElementsByClassName('btn-venue');
  for (var i = 0; i < buttons.length; i++) {
    var button = buttons[i];
    if (button.classList.contains('active')) {
      activeCategory.push(button.innerText);
    }
  }
  if (activeCategory.length == 0) {
    $("#conflist").addClass("invisible");
    $("#conflist-body tr").remove();
    updateInfoConf();
  }
  updateConfList();
}

// rank button listener
function dorank() {
  spinner.classList.remove("invisible");
  $.ajax({
    type: "POST",
    url: "/update",
    data: {
      pub_syear: nodes[0].innerHTML,
      pub_eyear: nodes[1].innerHTML,
      cit_syear: nodes[2].innerHTML,
      cit_eyear: nodes[3].innerHTML,
      weight: weightselector.value,
      conflist: selectedVenueList.join()
    },
    success: function (result) {
      // console.log("Rank success");
      ranktable.clear();
      for(var i in result) {
        // console.log(result[i]);
        // result["name"]: institution name
        // result["pub"]: paper count
        // result["wpub"]: w. paper count
        // result["cite"]: citation count
        var newRow = {};
        newRow[0] = null;
        newRow[1] = result[i]["name"];
        newRow[2] = result[i]["cite"].toFixed(0); // Measured
        newRow[3] = result[i]["wpub"].toFixed(0); // Estimated
        newRow[4] = 0 // Combined -- will be calculated later
        newRow[5] = 0 // type -- removed
        newRow[6] = 0 // secondary orderData
        ranktable.row.add(newRow);
      }
      updateTable();
      spinner.classList.add("invisible");
      rankFinished();
    }
  });
};
$('#rankbutton').click(function(e) {
  dorank();
});


// selectall checkbox listener
var selectall = document.getElementById('selectall');
selectall.addEventListener("click", function(e) {
  if (selectall.checked) {
    $('.btn-venue').addClass('active');
    $('.btn-venue').removeClass('btn-default');
    $('.btn-venue').addClass('btn-primary');
  } else {
    $('.btn-venue').removeClass('active');
    $('.btn-venue').addClass('btn-default');
    $('.btn-venue').removeClass('btn-primary');
  }
  getActiveCategories();
});

// category button listener
$('.btn-venue').click(function(e) {
  var btn = $(this);
  btn.toggleClass('active');
  if (btn.hasClass('active')){
    btn.removeClass('btn-default');
    btn.addClass('btn-primary');
  } else {
    btn.removeClass('btn-primary');
    btn.addClass('btn-default');
    selectall.checked = false;
  }
  e.preventDefault();
  getActiveCategories();
});
</script>
