{% load staticfiles%}
<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-2">
    <h4><span class="label label-default">Year</span></h4>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-2 text-right" style="padding:7px 0">
        Publication
      </div>
      <div class="col-sm-2" style="padding:7px 15px 0 0">
        <div class="text-right">
          <span class="label-as-badge" id="pub-lower-value"></span>
        </div>
      </div>
      <div class="col-sm-6" style="padding:8px">
        <div id="publication"></div>
      </div>
      <div class="col-sm-2" style="padding:7px 0 0 15px">
        <div class="text-left">
          <span class="label-as-badge" id="pub-upper-value"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 text-right" style="padding:7px 0">
        Citation
      </div>
      <div class="col-sm-2" style="padding:7px 15px 0 0">
        <div class="text-right">
          <span class="label-as-badge" id="cit-lower-value"></span>
        </div>
      </div>
      <div class="col-sm-6" style="padding:8px">
        <div id="citation"></div>
      </div>
      <div class="col-sm-2" style="padding:7px 0 0 15px">
        <div class="text-left">
          <span class="label-as-badge" id="cit-upper-value"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <h4><span class="label label-default">Category</span></h4>
  </div>
  <div class="col-sm-3">
    <div style="float:right; padding: 5px 10px 0 0;">
      Select All <input id="selectall" type="checkbox" style="margin: 5px 0 0 3px;"></input>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-lg-12">
    <div style="text-align:center;">
      {% for t in tags %}
        <button class="btn btn-xs btn-default btn-venue" style="margin-bottom:3px;">
          <span class="text-uppercase">{{ t.0 }}</span>
          <!-- <span class="badge">{{ t.1 }}</span> -->
        </button>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div style="max-height: 600px; overflow-x: hidden;">
      <table id="conflist" class="table table-condensed table-hover">
      </table>
    </div>
  </div>
</div>
<script>
var activeCategory = [];
var pubSlider = document.getElementById('publication');
noUiSlider.create(pubSlider, {
  connect: true,
  behaviour: 'tap',
  start: [ 2010, 2016 ],
  step: 1,
  animate: false,
  range: {
    'min': [ 2000 ],
    'max': [ 2016 ]
  }
});
var citSlider = document.getElementById('citation');
noUiSlider.create(citSlider, {
  connect: true,
  behaviour: 'tap',
  start: [ 2000, 2010 ],
  step: 1,
  animate: false,
  range: {
    'min': [ 2000 ],
    'max': [ 2016 ]
  }
});
var pubLowerHandle = pubSlider.getElementsByClassName('noUi-handle-lower')[0];
var citUpperHandle = citSlider.getElementsByClassName('noUi-handle-upper')[0];
var nodes = [
  document.getElementById('pub-lower-value'),
  document.getElementById('pub-upper-value'),
  document.getElementById('cit-lower-value'),
  document.getElementById('cit-upper-value')
];
pubSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
  // console.log("pubSlider slider update");
  nodes[handle].innerHTML = parseInt(values[handle]);
  updateInfoYear();
});
citSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
  // console.log("citSlider slider update");
  nodes[handle+2].innerHTML = parseInt(values[handle]);
  updateInfoYear();
});

var lockedState = true;
var sliding = false; //
var lastMovedSlider = 0; // 1:pubSlider, 2:citSlider
pubLowerHandle.classList.add("noUi-handle-primary");
citUpperHandle.classList.add("noUi-handle-primary");
function lockHandle(lastMovedSlider){
  if (sliding) {
    sliding = false;
    return;
  }
	lockedState = !lockedState;
  console.log("locked: ", lockedState);
  if (lockedState) {
    pubLowerHandle.classList.add("noUi-handle-primary");
    citUpperHandle.classList.add("noUi-handle-primary");
    if (lastMovedSlider == 1) {
      nodes[3].innerHTML = nodes[0].innerHTML;
      citSlider.noUiSlider.set([nodes[2].innerHTML,nodes[3].innerHTML]);
    } else {
      nodes[0].innerHTML = nodes[3].innerHTML;
      pubSlider.noUiSlider.set([nodes[0].innerHTML,nodes[1].innerHTML]);
    }
  } else {
    pubLowerHandle.classList.remove("noUi-handle-primary");
    citUpperHandle.classList.remove("noUi-handle-primary");
  }
}
pubLowerHandle.addEventListener('click', function(){
  lockHandle(1);
});
citUpperHandle.addEventListener('click', function(){
  lockHandle(2);
});

function crossUpdate ( value, slider ) {
  // console.log("crossUpdate");
  // console.log(value, slider);
	if ( !lockedState ) return;
  if ( slider == 1 ) { // citSlider
    nodes[3].innerHTML = value;
    var r = [nodes[2].innerHTML,nodes[3].innerHTML];
    citSlider.noUiSlider.set(r);
  } else { // pubSlider
    nodes[0].innerHTML = value;
    var r = [nodes[0].innerHTML,nodes[1].innerHTML];
    pubSlider.noUiSlider.set(r);
  }
}

pubSlider.noUiSlider.on('slide', function( values, handle ){
  // console.log("pubSlider slider slide", handle);
  if (handle == 0) {
    sliding = true;
    crossUpdate(values[handle], 1);
  }
});
citSlider.noUiSlider.on('slide', function( values, handle ){
  // console.log("citSlider slider slide", handle);
  if (handle == 1) {
    sliding = true;
    crossUpdate(values[handle], 0);
  }
});

function updateInfoYear(){
  // console.log("updateInfoYear");
  var infoYear = document.getElementById('rank-yearrange');
  if (infoYear != null) {
    infoYear.innerText = "Publication: " + nodes[0].innerHTML + "~" + nodes[1].innerHTML + "\n";
    infoYear.innerText += "Citation: " + nodes[2].innerHTML + "~" + nodes[3].innerHTML + "\n";
  }
}
function updateInfoConf(){
  // console.log("updateInfoConf");
  var infoConflist = document.getElementById('rank-conflist');
  if (infoConflist != null) {
    var rows = document.getElementById("conflist").rows;
    infoConflist.innerHTML = "";
    for (var i = 0; i < rows.length; i++){
      if (rows.item(i).cells[3].children[0].checked) {
        infoConflist.innerHTML += '<span class="label label-default">'
          + rows.item(i).cells[0].innerText + "</span> ";
      }
    }
  }
}

function updateConfList(){
  console.log(activeCategory.join());
  if (activeCategory.length > 0) {
    $.ajax({
      type: "POST",
      url: "/select",
      data: {
        keyword: activeCategory.join()
      },
      success: function (result) {
        var table = document.getElementById("conflist");
        $("#conflist tr").remove();
        for(var i in result) {
          var row = table.insertRow(i);
          var cell1 = row.insertCell(0);
          var cell2 = row.insertCell(1);
          var cell3 = row.insertCell(2);
          var cell4 = row.insertCell(3);
          cell1.innerHTML = "<b>"+result[i][0]+"</b>";
          cell2.innerHTML = "<small>"+result[i][1]+"</small>";
          cell3.innerHTML = 1.0;

          var checkbox = document.createElement('input');
          checkbox.setAttribute("class", "checkbox");
          checkbox.setAttribute("type", "checkbox");
          checkbox.setAttribute("checked", true);
          checkbox.setAttribute("onclick", "updateInfoConf()");
          cell4.appendChild(checkbox);
        }
        updateInfoConf();
      }
    });
  }
}

$('#selectall').click(function(e) {
  // $('.btn-venue').click();
});

$('.btn-venue').click(function(e) {
  var btn = $(this);
  btn.toggleClass('active');
  if (btn.hasClass('active')){
    btn.removeClass('btn-default');
    btn.addClass('btn-primary');
  } else {
    btn.removeClass('btn-primary');
    btn.addClass('btn-default');
  }
  e.preventDefault();

  activeCategory = [];
  var buttons = document.getElementsByTagName('button');
  for (var i = 0; i < buttons.length; i++) {
    var button = buttons[i];
    if (button.classList.contains('active')) {
      activeCategory.push(button.innerText);
    }
  }
  if (activeCategory.length == 0) {
    $("#conflist tr").remove();
    updateInfoConf();
  }
  updateConfList();
});
</script>
